---
import { getCollection, render } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import { formatDate } from "@/utils/formatDate";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<MainLayout>
    <article class="prose mx-auto">
        <h1 class="!mb-4">{post.data.title}</h1>
        <span class="text-muted-foreground text-sm">
            <time datetime={post.data.pubDate.toISOString()}>
                {
                    formatDate(post.data.pubDate, {
                        month: true,
                        day: true,
                        year: true,
                    })
                }
            </time>
            {" · "}
            {remarkPluginFrontmatter.minutesRead} read
        </span>
        <hr />
        <Content />
    </article>
</MainLayout>
