<a
    class="block w-fit !border-b-0 !transition-all hover:opacity-60"
    href="https://codepen.io/ashthedev "
    target="_blank"
    rel="noopener noreferrer"
>
    <div>
        <div>
            <span>CodePen</span>
            <span class="i-ri-external-link-line"></span>
        </div>
        <div class="text-accent-foreground text-sm">
            See more mini projects on codepen.io
        </div>
    </div>
</a>
