---
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((p) => p.data.feat)
  .sort((a, b) => Number(b.data.year) - Number(a.data.year))
  .slice(0, 3);
---

<ul class="!list-none space-y-4 !pl-0">
  {
    projects.map((project) => (
      <li>
        <a
          class="!border-b-0 !transition-all hover:opacity-60"
          href={`/portfolio/${project.id}`}
        >
          <span>{project.data.name}</span>
          <div class="text-accent-foreground text-sm">{project.data.desc}</div>
        </a>
      </li>
    ))
  }
</ul>
