---
const currentYear = new Date().getFullYear();
---

<footer
    class="flex flex-col-reverse items-center p-4 text-sm md:flex-row md:justify-between md:p-8"
>
    <p>
        &copy; {currentYear} Ashton G. Heald. <a
            class="underline"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY-NC-SA 4.0</a
        >
    </p>
    <p class="mb-2.5 space-x-4 md:mb-0">
        <a href="mailto:hello@ashthe.dev" class="font-mono no-underline"
            >hello<span class="i-ri-at-line text-sm"></span>ashthe.dev</a
        >
        <span>
            <span class="icon i-ri-bluesky-fill mr-0.5"></span><a
                class=""
                href="https://bsky.app/profile/ashtonheald.me">Bluesky</a
            >
        </span>
        <span>
            <span class="icon i-ri-github-fill mr-0.5"></span><a
                class=""
                href="https://github.com/AshtonHeald">Github</a
            >
        </span>
    </p>
</footer>
