---
const currentYear = new Date().getFullYear();
---

<footer class="p-8 text-sm flex flex-col items-center md:flex-row md:justify-between">
    <p>&copy; {currentYear} Ashton G. Heald. <a class="underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    <p class="space-x-4">
        <a href="mailto:hello@ashthe.dev" class="font-mono no-underline">hello<span class="i-ri-at-line text-sm" ></span>ashthe.dev</a>
         <span>
            <span class="icon i-ri-bluesky-fill mr-0.5"/><a class="" href="bsky.com">Bluesky</a>
        </span>
        <span>
            <span class="icon i-ri-github-fill mr-0.5"/><a class="" href="github.com">Github</a>
        </span>
    </p>
</footer>