---
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
const { collectionFilter } = Astro.props;
---

<ul class="!list-none space-y-4 !pl-0">
  {
    allProjects
      .filter((p) => p.data.collection === collectionFilter)
      .sort((a, b) => Number(b.data.year) - Number(a.data.year))
      .map((project) => (
        <li>
          <a
            class="!border-b-0 !transition-all hover:opacity-60"
            href={`/portfolio/${project.id}`}
          >
            <div>
              <span>{project.data.title}</span>
              <div class="text-accent-foreground text-sm">
                {project.data.description}
              </div>
            </div>
          </a>
        </li>
      ))
  }
</ul>
